* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-color:#1c375b;
	color:#9fd6c2;
	font-family: arial, sans-serif;
	font-size:16px;
}
h1 {
	font-size:5em;
	text-align: center;
}
h2 {
}
a {
	color:#9fd6c2;
}
#slogan {
	font-size:1.25em;
	text-align: center;
}
