* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-color:#1c375b;
	background-image:url('images/background.jpg');
	background-attachment:fixed;
	background-size:cover;
	background-repeat: no-repeat;
	opacity: 0.3;
}

h1 {
	font-family: arial, sans-serif;
	font-size:80px;
	text-align: center;
	color:#9fd6c2;
	
}

h2 {
	font-size:18px;
	text-align: center;
	color:#9fd6c2;
	font-family: arial, sans-serif;
}
