* {margin:0;padding:0;box-sizing:border-box;}
body {
	background-image:url('images/background.jpg');
	color:#404040;
	font-family: arial, sans-serif;
	font-size:16px;
	margin: 40px;
}

h1{
	clear: both;
	display: inline-block;
	font:normal normal bold 5em/normal 'Oswald', sans-serif;
	letter-spacing: .05em;
	margin-bottom: .5em;
	padding-bottom: .02em;
	text-align: center;
	padding-right: 5%;

}

h2{
	clear: both;
	display: inline-block;
	font:normal normal bold 3em/normal 'Oswald', sans-serif;
	letter-spacing: .05em;
	margin-bottom: .5em;
	padding-bottom: .02em;
	text-align: center;
	padding-right: 5%;

	}



	a {
	color:#1e1933;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.5em;
}

a:hover {
  text-decoration:underline;
}


#work{
	background:#ffffff;
	border-top: .5em solid white;
	color:#404040;
	position:relative;

}

#work img{
	display: inline-block;
	height: 9em;
	margin: 1%;
}	
.image{
	display: block;
	float:left;
	width: 25%;
	margin-top: 3%;
}


#in-touch{
		width: 100%;
	}

#images{
	padding-bottom: 3%;
	height: 100;
}

#social-bottom{
	display: inline;
	padding-top: 2em;
}


.social-icon{
	display: inline-block;
	width: 10%;
}

.project img{
	display:block;
	margin-top: 2em;
	width: 50%;
	transition: width 0.3s ease;
}

.project-wrapper{
	margin: 0 4%;
	padding: 0 5% 2.5% 1%;
	width: 60%;
}

}
