* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-image:url('images/background.jpg');
	color:#9fd6c2;
	font-family: arial, sans-serif;
	font-size:16px;
	margin: 0em 0em 1.5em 0em;
}

h1,h2{
	clear: both;
	display: inline-block;
	font:normal normal bold 4em/normal 'Oswald', sans-serif;
	letter-spacing: .05em;
	margin-bottom: .5em;
	padding-bottom: .02em;
	text-align: left;
	}

a {
	color:#1e1933;
	text-decoration: none;
}

#work{
	background:#ffffff;
	border-top: .5em solid white;
	color:#9fd6c2;
	position:relative;

}

#slogan {
	font-size:1.25em;
	text-align: center;
	font-family: 'Oswald', sans-serif;
}

#in-touch{
		width: 100%;
	}

	#images{
	padding-bottom: 3%;
	height: 100;
}

}
